body {
  font-family: sans-serif;
  background: url('background.jpg');
}

h1 {
  text-align: center;
  /*ketebalan font*/
  font-weight: 300;
}

.tulisan_login {
  text-align: center;
  /*membuat semua huruf menjadi kapital*/
  color : #FFFFFF;
  font-size: 18pt;
  font-weight: bold;
  text-transform: uppercase;
}

.kotak_login {
  width: 350px;
  background: #000000;
  opacity: 0.7;
  /*meletakkan form ke tengah*/
  margin: 80px auto;
  padding: 30px 20px;
}

label {
  font-size: 11pt;
}

.form_login {
  /*membuat lebar form penuh*/
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  font-size: 11pt;
  margin-bottom: 20px;
}

.tombol_login {
  background: #46de4b;
  color: white;
  font-size: 11pt;
  width: 100%;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
}

.link {
  color: #222222;
  text-decoration: none;
  font-size: 10pt;
}
.header {
	background: #0e334e;
	height: 100px;
}
.bodyisi{
  font-family: sans-serif;
  background: #f1f1f3;
  height:100%;
  padding: 30px 420px;
}
.form {
  box-sizing: border-box;
  width: 100%;
  height:50px;
  padding: 10px;
  font-size: 11pt;
  margin-bottom: 20px;
}
.tombol {
  background: #46de4b;
  color: white;
  font-size: 11pt;
  width: 400px;
  height: 40px;
  border: none;
  border-radius: 3px;
}
.tombollogout {
  background: #e30005;
  color: white;
  font-size: 11pt;
  width: 400px;
  height: 40px;
  border: none;
  border-radius: 3px;
}
.bodymenu{
  font-family: sans-serif;
  background: #f1f1f3;
  height:100%;
  padding: 30px 100px;
}